@font-face {
  font-family: 'CinzelDecorative';
  src: local('CinzelDecorative'),
    url('./assets/fonts/CinzelDecorative-Regular.ttf');
  font-weight: normal;
}
/* 
@font-face {
  font-family: 'CinzelDecorative';
  src: local('CinzelDecorative'),
    url('./assets/fonts/CinzelDecorative-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'CinzelDecorative';
  src: local('CinzelDecorative'),
    url('./assets/fonts/CinzelDecorative-Black.ttf');
  font-weight: bolder;
} */

@tailwind base;
@tailwind components;
@tailwind utilities;
/* You can add global styles to this file, and also import other style files */
